.App {
  width: 100%;
  text-align: center;
}

.form {
  display: flex;
  flex-wrap: wrap;
  margin:40px auto;
  max-width:650px;
  line-height:1.6;
  font-size:18px;
  color:#444;
  padding: 10px;
  line-height:1.2;
}
